name: Deploy to Elastic Beanstalk

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install AWS CLI
        run: |
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          unzip awscliv2.zip
          sudo ./aws/install --update

      - name: Install EB CLI
        run: pip install awsebcli

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Initialize Elastic Beanstalk (Correct)
        run: |
          eb init pdf-kg-backend \
            --region us-east-1 \
            --platform "Python 3.12 running on 64bit Amazon Linux 2023"

      - name: Set Environment Variables in EB
        run: |
          eb use Pdf-kg-backend-env
          eb setenv DATABASE_URL="${{ secrets.DATABASE_URL }}" GROQ_API_KEY="${{ secrets.GROQ_API_KEY }}" CONV_MODEL="openai/gpt-oss-120b" TITLE_MODEL="llama-3.3-70b-versatile"

      - name: Create deployment package
        run: zip -r deploy.zip . -x "*.git*" "__pycache__/*"

      - name: Deploy to Elastic Beanstalk
        run: |
          eb use Pdf-kg-backend-env
          eb deploy --staged
